      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Creative Development /CUNY Census Corp, New York</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2020 - <span class="w3-tag w3-teal w3-round">August 2020</span></h6>
          <p>Lead in the design development and implementation of the graphics, layout and production communication materials while helping people to inform about the census 2020.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Sales Associate /7-Eleven, Forest Hills, New York</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2020 - October 2020</h6>
          <p>Provide prompt,efficient and courteous service.Perfrom all regular cleaning activities.Provide a friendly environment and service </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Graphic Designer /iHeartRadio</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2020 - August 2020</h6>
          <p> Developed numerous marketing programs(logos, infographics, presentations and advertisements) </p><br>
        </div>
      </div>